<section id="location" class="feature">
    <a href="https://www.google.co.in/maps/place/ThoughtWorks+Technologies+India+Private+Limited/@18.555971,73.8897111,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2c121d5548b61:0xcd58a64a848651e5!8m2!3d18.555971!4d73.8918998" target="_blank" rel="nofollow">
        <div class="map-address" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
            <h1 class="map-address-heading">Location</h1>
            <h3>ThoughtWorks Technologies</h3>
            <div>6th Floor, Binarius Building, Deepak Complex, National Games Road, Shastrinagar, Yerawada, Pune, Maharashtra 411006 India</div>
            <div>Ph: 020-41057863</div>
        </div>
    </a>

    <div class="map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.4005722296406!2d73.88971111489323!3d18.555970987388374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c121d5548b61%3A0xcd58a64a848651e5!2sThoughtWorks+Technologies+India+Private+Limited!5e0!3m2!1sen!2sin!4v1518454584478" class="live-map" allowfullscreen></iframe>
    </div>
</section>
